part2/hbnb/app/models/__pycache__/*.pyc
part2/hbnb/app/services/__pycache__/*.pyc
part2/hbnb/app/persistence/__pycache__/*.pyc
part2/hbnb/app/api/v1/__pycache__/*.pyc
part2/hbnb/app/api/__pycache__/*.pyc
part2/hbnb/app/__pycache__/*.pyc
part2/hbnb/app/__pycache__/
part2/hbnb/app/__pycache__/
part2/hbnb/envpart2hbnb/*
part3/hbnb/app/models/__pycache__/*.pyc
part3/hbnb/app/services/__pycache__/*.pyc
part3/hbnb/app/persistence/__pycache__/*.pyc
part3/hbnb/app/api/v1/__pycache__/*.pyc
part3/hbnb/app/api/__pycache__/*.pyc
part3/hbnb/app/__pycache__/*.pyc
part3/hbnb/app/__pycache__/
part3/hbnb/app/__pycache__/
part3/hbnb/envpart3hbnb/*
__pycache__/
*.pyc
.vscode/*
